@import "../node_modules/@govbr-ds/core/src/core.scss";

body {
    background-color: #E1ECFF;
}

.main-inner {
    box-shadow: 0 .5rem 1rem rgb(0 0 0 / .15);
    margin-top: 1.5rem;
    padding: 1.5rem .5rem;

    border-radius: .5rem;
    background-color: #fff;
}

.dropdown {
    z-index: 100;
}

.br-sign-in, .br-button.sign-in {
    --sign-in-img: 35px;
}

body.admin .col {
  flex: auto;
}

