body {
    background-color: #E1ECFF;
}

.main-inner {
    box-shadow: 0 .5rem 1rem rgb(0 0 0 / .15);
    margin-top: 1.5rem;
    padding: 1.5rem .5rem;

    border-radius: .5rem;
    background-color: #fff;
}

.dropdown {
    z-index: 100;
}

.br-sign-in, .br-button.sign-in {
    --sign-in-img: 35px;
}

body.admin .col {
  flex: auto;
}

.br-tab .tab-item button,
.br-tab .tab-item a {
  font-size: var(--font-size-scale-base);
}

.br-feature img {
    margin: auto;
    display: block; /* Necessário para que o margin funcione */
}

img.dashboard-card-img, .pagelayout-coursecategory .dashboard-card .card-img.dashboard-card-img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dashboard-card .dashboard-card-img {
    padding: .5rem;
    position: relative;
    height: 10rem !important;
    background-position: center;
    background-size: cover;
}

.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(0.5rem - 1px);
    border-bottom-left-radius: calc(0.5rem - 1px);
}

.card-img, .card-img-top {
    border-top-left-radius: calc(0.5rem - 1px);
    border-top-right-radius: calc(0.5rem - 1px);
}

.dashboard-card .dashboard-card-img .course-category {
    background-color: #0f47ad;
    color: #fff;
    padding: 4px 6px;
    margin-bottom: .25rem;
    border-radius: .5rem;
    width: fit-content;
    font-size: 80%;
}

// ENROL BUTTON

#id_selfheader > div.d-flex.align-items-center.mb-2 > div > a {
    display: none;
}

#id_selfheader > div.d-flex.align-items-center.mb-2 > div > h3 {
    padding-left: 2.5rem;
    padding-bottom: 0;
    font-size: 24.192px !important;
    font-size: var(--font-size-scale-up-03) !important;
    margin: 0;
}

#main-content > div:nth-child(1) > div.col-md-4.mb-5 > div > div > div > h2 {
    padding-left: 2.5rem;
    padding-bottom: 0;
    font-size: 24.192px !important;
    font-size: var(--font-size-scale-up-03) !important;
    margin: 0;
}

#id_submitbutton {
   --focus-offset: calc((var(--magic-support-size) - var(--magic-size)) * .5 + 4px);
    --button-size: var(--magic-size);
    background-color: #168821;
    background-color: var(--interactive-alternative);
    color: #fff;
    color: var(--color-dark);
    font-size: 20.16px;
    font-size: var(--font-size-scale-up-02);
    font-weight: 600;
    font-weight: var(--font-weight-semi-bold);
    border-radius: 100em;
    padding: .3em 1em;
}

#fitem_id_submitbutton > div.col-md-9.d-flex.flex-wrap.align-items-start.felement {
    --magic-size: var(--magic-medium);
    --magic-small: var(--spacing-scale-4xh);
    --magic-medium: var(--spacing-scale-5xh);
    --magic-large: var(--spacing-scale-6xh);
    --magic-support-size: var(--magic-support-medium);
    --magic-support-small: var(--spacing-scale-7x);
    --magic-support-medium: var(--spacing-scale-8x);
    --magic-support-large: var(--spacing-scale-9x);
    --magic-z-index: var(--z-index-layer-1);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f0f0f0;
    background-color: var(--gray-5);
    border-radius: 100em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    box-shadow: var(--surface-shadow-md);
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: var(--magic-support-size);
    padding: calc((var(--magic-support-size) - var(--magic-size)) * .5);

}

.tool_dataprivacy{
    display: none;
}

.br-header[data-sticky] {
    z-index: var(--z-index-layer-1);
}

.features-section {
    background-color: var(--blue-warm-30); // Usando variável GOV.BR-DS
}

.br-card h1 i {
    font-size: var(--font-size-scale-up-02);
}
