<div class="card dashboard-card {{^visible}}dimmed{{/visible}}" role="listitem" data-region="course-content" data-course-id="{{{id}}}">
    <a href="{{courseurl}}" tabindex="-1">
        <div class="card-img dashboard-card-img" style="background-image: url({{{image}}});">
            <span class="sr-only">{{fullname}}</span>
            {{#hasenrolmenticons}}
                <div class="enrolmenticons d-flex">
                    {{#enrolmenticons}}
                        <div class="enrolmenticon">
                            {{{.}}}
                        </div>
                    {{/enrolmenticons}}
                </div>
            {{/hasenrolmenticons}}
            <div class="d-flex align-items-center">
                <span class="br-tag bg-mint-cool-vivid-70" aria-describedby="tag-text01">
                    <span id="tag-text01">{{{category}}}</span>
                </span>
            </div>
        </div>
        
    </a>
    <div class="card-body course-info-container">
        <div class="text-weight-semi-bold text-up-02">
            <a href="{{courseurl}}" class="aalink coursename mr-2 mb-1 {{^visible}}dimmed{{/visible}}">
                {{{fullname}}}
            </a><br/>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex">
            {{#metadata}}
                <strong>{{{name}}}:</strong> {{{value}}}<br/>
            {{/metadata}}
        </div>
    </div>
    {{#hasprogress}}
        <div class="d-flex align-items-start">
            <div class="card-footer dashboard-card-footer border-0 bg-white w-100">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{{progress}}}" style="width: {{{progress}}}%" aria-valuemin="0" aria-valuemax="{{{progress}}}"></div>
                </div>
                <p class="mb-0">{{#str}}completepercent, block_myoverview, {{progress}}{{/str}}</p>
            </div>
        </div>
    {{/hasprogress}}
</div>