<div class="row main-inner">
    <div class="col-sm">
        <img src="theme/govbrds/pix/img-cover-1.png" alt="Imagem de Capa 1" />
    </div>
    <div class="col-sm">
        <h2>PORTAL IFRR LIVRE</h2>
        <h1>CURSOS LIVRES: 100% grátis e online para você!</h1>
        <p><strong>Descubra o IFRR Livre!</strong> Um portal repleto de cursos 100% gratuitos e online, oferecidos pelo Instituto Federal de Roraima. 
        Aprimore suas habilidades no seu ritmo, de onde estiver.
        Qualificação de qualidade ao seu alcance. Escolha seu curso e transforme seu futuro!</p>
        <a href="course" class="br-button primary mr-3" type="button">
            <i class="fas fa-angle-right" aria-hidden="true"></i>&nbsp;
            Conheça nossos cursos
        </a>
    </div>
</div>
