{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_govbrds/moremenu
}}
{{#haschildren}}
<div class="col-2">
    <a class="br-item header" href="javascript:void(0)" {{#title}}title="{{.}}"{{/title}}>
        <div class="content text-down-01 text-bold text-uppercase">{{{text}}}</div>
        <div class="support"><i class="fas fa-angle-down" aria-hidden="true"></i></div>
    </a>
    <div class="br-list"><span class="br-divider d-md-none"></span>
        {{#children}}
            <a  class="br-item" {{#title}}title="{{.}}"{{/title}} href="{{{url}}}{{{action}}}">
            <div class="content">{{{text}}}</div></a>
        {{/children}}
    </div>
</div>
{{/haschildren}}