{{#hasfootersocial}}

            <div class="social-network">
                <div class="social-network-title">{{#str}}socialnetworks, theme_govbrds{{/str}}</div>
                <div class="d-flex">
                    {{#linkedin}}
                        <a href="{{{linkedin}}}" target="_blank" class="br-button circle" aria-label="Compartilhar por LinkedIn">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    {{/linkedin}}
                    {{#facebook}}
                        <a href="{{{facebook}}}" target="_blank" class="br-button circle" aria-label="Compartilhar por Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    {{/facebook}}
                    {{#instagram}}
                        <a href="{{{instagram}}}" target="_blank" class="br-button circle" aria-label="Compartilhar por Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    {{/instagram}}
                    {{#youtube}}
                        <a href="{{{youtube}}}" target="_blank" class="br-button circle" aria-label="Compartilhar por YouTube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    {{/youtube}}
                    {{#tiktok}}
                        <a href="{{{tiktok}}}" target="_blank" class="br-button circle" aria-label="Compartilhar por tiktok">
                            <i class="fab fa-tiktok"></i>
                        </a>
                    {{/tiktok}}
                </div>
            </div>

 {{/hasfootersocial}}


