{{!
    @template theme_govbrds/frontpage

    GovBrDS frontpage template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * courseindexopen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "courseindexopen": true,
        "navdraweropen": false,
        "blockdraweropen": true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false,
        "addblockbutton": ""
    }
}}

{{> theme_govbrds/head }}

<body {{{ bodyattributes }}}>
    {{> core/local/toast/wrapper}}
    <div id="page-wrapper" class="d-print-block">

        {{{ output.standard_top_of_body_html }}}

        {{> theme_govbrds/header }}
        <main class="d-flex flex-fill mb-5" id="main">
            <div class="container-lg d-flex">
                <div class="row">
                    {{> theme_govbrds/navbar }}
                    
                    <div class="col mb-5">
                        <div id="content">
                            {{{ output.full_header }}}
                        </div>
                        {{#hasregionmainsettingsmenu}}
                            <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                                <div> {{{ output.region_main_settings_menu }}} </div>
                            </div>
                        {{/hasregionmainsettingsmenu}}
                        <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}}>
                            {{#hasregionmainsettingsmenu}}
                            <div class="region_main_settings_menu_proxy"></div>
                            {{/hasregionmainsettingsmenu}}
                            {{{ output.course_content_header }}}
                            {{{ output.main_content }}}
                            {{{ output.activity_navigation }}}
                            {{{ output.course_content_footer }}}
                        </section>
                        {{#hasblocks}}
                            <section data-region="blocks-column" class="d-print-none">
                                {{{ sidepreblocks }}}
                            </section>
                        {{/hasblocks}}
                        
                    </div>
                </div>
            </div>

        </main>
        {{> theme_govbrds/footer }}
        <div class="br-cookiebar default d-none" tabindex="-1"></div>
        {{{ output.standard_after_main_region_html }}}
    </div>
</body>
</html>