{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div class="template-base layout" id="page-wrapper">
{{{ output.standard_top_of_body_html }}}
      <nav class="br-skiplink" role="menubar"><a class="br-item" href="#main-content" role="menuitem" accesskey="1">Ir para o conteúdo <span aria-hidden="true">(1/4)</span> <span aria-hidden="true" class="br-tag text ml-1">1</span></a><a class="br-item" href="#header-navigation" role="menuitem" accesskey="2">Ir para o menu <span aria-hidden="true">(2/4)</span> <span aria-hidden="true" class="br-tag text ml-1">2</span></a><a class="br-item" href="#main-searchbox" role="menuitem" accesskey="3">Ir para a busca <span aria-hidden="true">(3/4)</span> <span aria-hidden="true" class="br-tag text ml-1">3</span></a><a class="br-item" href="#footer" role="menuitem" accesskey="4">Ir para o rodapé <span aria-hidden="true">(4/4)</span> <span aria-hidden="true" class="br-tag text ml-1">4</span></a>
      </nav>
      {{> theme_govbrds/header }}
      <main class="d-flex flex-fill mb-5" id="main">
        <div class="container-lg d-flex">
          <div class="row">
            {{> theme_govbrds/navbar }}
            <div class="col mb-5">
              <nav class="br-breadcrumb">
                <ol class="crumb-list" role="list">
                  <li class="crumb home"><a class="br-button circle" href="javascript:void(0)"><span class="sr-only">Página inicial</span><i class="fas fa-home"></i></a></li>
                  <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior</a>
                  </li>
                  <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior2</a>
                  </li>
                  <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a>
                  </li>
                  <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a>
                  </li>
                  <li class="crumb" data-active="active"><i class="icon fas fa-chevron-right"></i><span tabindex="0" aria-current="page">Tela Atual</span>
                  </li>
                </ol>
              </nav>
              <div class="main-content pl-sm-3 mt-4" id="main-content">
                
                {{{ output.full_header }}}
                <div>
                    {{>theme_govbrds/gridmarkup}}
                </div>
                <div id="page-content" class="row">
                <div id="region-main-box" class="col-12">
                    {{#hasregionmainsettingsmenu}}
                        <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                            <div> {{{ output.region_main_settings_menu }}} </div>
                        </div>
                    {{/hasregionmainsettingsmenu}}
                    <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}}>
                        <div class="card">
                            <div class="card-body">
                                {{#hasregionmainsettingsmenu}}
                                <div class="region_main_settings_menu_proxy"></div>
                                {{/hasregionmainsettingsmenu}}
                                {{{ output.course_content_header }}}
                                {{{ output.main_content }}}
                                {{{ output.activity_navigation }}}
                                {{{ output.course_content_footer }}}
                            </div>
                        </div>
                    </section>
                    {{#hasblocks}}
                        <section data-region="blocks-column" class="d-print-none">
                            {{{ sidepreblocks }}}
                        </section>
                    {{/hasblocks}}

                </div>
            </div>
                
              </div>
            </div>
          </div>
        </div>
      </main>
        {{> theme_govbrds/footer }}
      <div class="br-cookiebar default d-none" tabindex="-1"></div>
    </div>
        
    {{> theme_boost/nav-drawer }}
    
</div>



