<header class="br-header" id="header" data-sticky="data-sticky">
  <div class="container-lg">
    <div class="header-top">
      <div class="header-logo">
      {{# output.should_display_navbar_logo }}
          <img src="{{{ logo }}}" class="logo me-1" alt="{{sitename}}">
      {{/ output.should_display_navbar_logo }}
        <img src="{{{ logo }}}" alt="{{sitename}}">
        <span class="br-divider vertical"></span>
        <div class="header-sign">{{{ organization }}}</div>
      </div>
        {{> theme_govbrds/header_actions}}
    </div>
    <div class="header-bottom">
      <div class="header-menu">
        <div class="header-menu-trigger" id="header-navigation">
          <button class="br-button small circle" type="button" aria-label="Menu" data-toggle="menu" data-target="#main-navigation" id="navigation"><i class="fas fa-bars" aria-hidden="true"></i>
          </button>
        </div>
        <div class="header-info">
          <div class="header-title">
            <a href="{{{ config.homeurl }}}" >
            {{^ output.should_display_navbar_logo }}
              {{{ sitename }}}
            {{/ output.should_display_navbar_logo }}
          </a>
          </div>
          <div class="header-subtitle">{{{ fullname }}}</div>
        </div>
      </div>

      <div class="header-search" id="main-searchbox">
       <form autocomplete="off" action="{{{config.wwwroot}}}/course/search.php" method="get" accept-charset="utf-8" 
          class="mform d-flex flex-wrap align-items-center simplesearchform">
          <div class="br-input has-icon">
            <label for="searchbox">Texto da pesquisa</label>
            <input id="searchbox" name="q" type="text" placeholder="O que você procura?"/>
            <button class="br-button circle small" type="submit" aria-label="Pesquisar">
              <i class="fas fa-search" aria-hidden="true"></i>
            </button>
          </div>
          <button class="br-button circle search-close ml-1" type="button" aria-label="Fechar Busca" data-dismiss="search">
            <i class="fas fa-times" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</header>