{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    header-actions.
}}
<div class="header-actions">

    <form autocomplete="off" action="{{{config.wwwroot}}}/course/search.php" method="get" accept-charset="utf-8" 
    class="mform d-flex flex-wrap align-items-center simplesearchform">
        <input type="hidden" 
          name="areaids" value="core_course-course"
          placeholder="{{#str}} how_do_you_search, theme_govbrds {{/str}}">
        <div class="header-search-trigger">
            <button class="br-button circle" type="button" aria-label="{{#str}} search_close, theme_govbrds {{/str}}" data-toggle="search" data-target=".header-search">
            <i class="fas fa-search" aria-hidden="true"></i>
            </button>
        </div>
     </form>

    {{#usermenu}}
        {{> theme_govbrds/user_menu }}
    {{/usermenu}}
    
</div>

{{> theme_boost/primary-drawer-mobile }}

<script>
document.addEventListener('DOMContentLoaded', function () {
  const switchInput = document.querySelector('.editmode-switch-form input[type="checkbox"]');

  if (switchInput) {
    switchInput.addEventListener('change', function () {
      const form = switchInput.closest('form');
      if (form) {
        form.submit();
      }
    });
  }
});
</script>

