<h3 class="mt-3">Como funciona</h3>
<div class="row">
    <div class="col-sm d-flex">
        <div class="br-card">
            <div class="card-content">
                <h1><i class="fas fa-id-card" style="font-size:larger"></i></h1>
                <h6>Cadastre-se</h6>
                Crie sua conta agora mesmo. 
                Você terá acesso a todos os cursos oferecidos na plataforma do IFRR por meio de smartphone, tablet ou computador.
                <div class="d-flex mt-3">
                    <div>
                        <a class="br-button primary mr-3 small" href="{{{config.wwwroot}}}/login/signup.php" type="button">Cadastre-se</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm d-flex">
        <div class="br-card">
            <div class="card-content">
                <h1><i class="fas fa-hand-pointer" style="font-size:larger"></i></h1>
                <h6>Escolha o Curso</h6>
        
                É hora de se reconectar com o saber. Escolha um dos Cursos Livres do IFRR e amplie seus conhecimentos.
                {{#autocadastro_ativo}}
                    <div class="d-flex mt-3">
                        <div>
                            <a class="br-button primary mr-3 small" href="{{{config.wwwroot}}}/course" type="button">Escolher curso</a>
                        </div>
                    </div>
                {{/autocadastro_ativo}}
            </div>
        </div>
    </div>
    <div class="col-sm d-flex">
        <div class="br-card">
            <div class="card-content">
                <h1><i class="fas fa-calendar" style="font-size:larger"></i></h1>
                <h6>Faça o Curso</h6>
                É hora de se reconectar com o saber. Escolha um dos Cursos Livres do IFRR e amplie seus conhecimentos.
            </div>
        </div>
    </div>
    <div class="col-sm d-flex">
        <div class="br-card">
            <div class="card-content">
                <h1><i class="fas fa-certificate" style="font-size:larger"></i></h1>
                <h6>Emita seu Certificado</h6>
                É hora de se reconectar com o saber. Escolha um dos Cursos Livres do IFRR e amplie seus conhecimentos.
            </div>
        </div>
    </div>
</div>