<nav class="menu-body" role="tree">
    {{#nodecollection}}
      {{#children}}
        {{> theme_govbrds/moremenu_children}}
      {{/children}}
    {{/nodecollection}}

    {{#nodearray}}
      {{> theme_govbrds/moremenu_children}}
    {{/nodearray}}
</nav>


