<div class="br-menu" id="main-navigation">
    <div class="menu-container">
        <div class="menu-panel">
            <div class="menu-header">
                <div class="menu-title">
                    <a href="{{{ config.homeurl }}}" class="navbar-brand d-none d-md-flex align-items-center m-0 me-4 p-0 aabtn">
                        {{# output.should_display_navbar_logo }} 
                            <img src="{{output.get_logo_url}}" class="logo me-1" alt="{{sitename}}" style="max-height: 80px"> 
                        {{/ output.should_display_navbar_logo }} 
                        {{^ output.should_display_navbar_logo }} 
                            {{{ sitename }}} 
                        {{/ output.should_display_navbar_logo }} 
                    </a>
                </div>
                <div class="menu-close">
                    <button class="br-button circle" type="button" aria-label="Fechar o menu" data-dismiss="menu">
                        <i class="fas fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            {{#primarymoremenu}}
                {{> theme_govbrds/moremenu}}
            {{/primarymoremenu}}
            <div class="menu-footer">
            {{> theme_govbrds/footer_social}}
            </div>
        </div>
        <div class="menu-scrim" data-dismiss="menu" tabindex="0"></div>
    </div>
</div>