<div class="bg-blue-warm-vivid-70 pt-3">
    <div class="container-lg">
    {{#secondarymoremenu}}
        <div>
            <div class="br-tab dark-mode small">
                {{> core/moremenu}}
            </div>
        </div>
    {{/secondarymoremenu}}
    </div>
</div>
{{> theme_boost/primary-drawer-mobile }}
